{% extends 'rango/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    About Rango
{% endblock %}


{% block body_block %}    
    <h1>Rango says...</h1>
    <div>
        Here is the about page. <br />
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}"alt="Picture of Rango" /> <!-- New line -->
        This tutorial has been put together by Peter Vine. <br />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat:" />
    </div>
{% endblock %}